body {
    background-color: rgb(0, 0, 0);
    font-family: 'EB Garamond', serif;
    min-height: 95vh;
    border-bottom: 1px solid black;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    width:500px;
    color: rgb(255, 105, 180);
  }
  html {
    display: table;
    margin: auto;
  }
  img{
    height: 300px;
    width: 300px;
    float: centre;
}
  h1{
    border-bottom: 1px solid black;
    border:solid;
    border-style: solid;
    background-color: rgba(140, 69, 206, 0.986);
  }
  h6{
    float:right;
  }
 